button {
    color: rgb(190, 129, 53);
    background-color: black;
    border-radius: 2px;
    border-color: cadetblue;
    margin: 0;
    position: absolute;
    right: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 110%;
}

button:hover {
    color: rgb(190, 53, 137);
    background-color: rgb(8, 117, 57);
    border-radius: 2px;
    border-color: brown;
    /*transform: scale(1.000000001);
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1)s;
    */
    transform: translateY(1px);
}

body {
    background-color: black;
}